.flightStatus {
    height: 30px;
    background-color: white;
    border: 3px solid #A6B1E1;
    display: grid;
    align-items: center;
    grid-template-columns: 5fr 8fr 3fr;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100%;
    max-width: 1024px;
    margin-bottom: 100px;

  }

  .flightSearchWrapper{
    justify-content: center;
    display: flex;
    margin-top: 10px;
    align-items: center;
  }
  
  .searchIcon {
    color: #DCD6F7;
  }
  
  .flightStatusSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-left:15px;
        align-items: center;
    justify-content: center;
  }
  .flightStatusDate {
    display: grid;
    grid-template-columns: 1fr 5fr 20fr;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-left:15px
  }
  
  .searchInput {
    border: none;
    outline: none;
    color:#424874;

  }
  .status-date{
    color:grey;
    font-size: 14px;
    margin-right: 0px;
  }
  .searchText {
    color: hsl(229, 61%, 72%);
    cursor: pointer;
  }
  .searchText-result{
    color: hwb(229 45% 11%);
    font-size: 20px;
    font-weight: bold;

  }
  .dateSytle{
    border-style: none;
    color:#424874;

  }
  .flightStatusSearch-buttom{
    background-color: hsl(229, 61%, 72%);
    width: 80%;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 15px;
  }
  .flightStatusSearch-buttom:hover{
    background-color:  #DCD6F7;
    color:#424874;
}


  
  .optionCounterButton {

    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #A6B1E1;
    border-radius: 5px;
    color: #424874;
    cursor: pointer;
    background-color: white;
    align-items: center;

    
  }


  .tripTypeSelect{
    background-color:white;
    display: flex;
    justify-content: center;
  }

  .tripTypeContainer{
    width: 100%;
    max-width: 1024px;
    margin: 50px 10px 0px 0px;
    display: flex;
    gap: 30px;
  }
  .tripType{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }

  .option{
    border-radius: 5px;

  }
 .optionText{
    color:#424874;
 }

 